{% from "macros/_menu_item.html" import menu_item_simple,menu_item_with_sub %}
<aside class="main-sidebar sidebar-light-primary">
    <a href="{{ url_for('core.home') }}" class="navbar-brand m-1">
        <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="VOXCALL" class="img-responsive"  style="max-width: 220px;">
      </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {% call menu_item_with_sub(url='#',title='Clientes',icon='nav-icon fas fa-users')  %} 
              {{ menu_item_simple(url=url_for('core.clientes'),title='Clientes')}}
          {% endcall %}
          {% if current_user.has_role('admin') %} 
            {% call menu_item_with_sub(url='#',title='Usuários',icon='nav-icon fas fa-user')  %} 
                {{ menu_item_simple(url=url_for('core.usuarios'),title='Usuários')}}
            {% endcall %}

            {% call menu_item_with_sub(url='#',title='Produtos',icon='nav-icon fa fa-bars')  %} 
            {{ menu_item_simple(url=url_for('core.produtos'),title='Produtos')}}
        {% endcall %}

        {% call menu_item_with_sub(url='#',title='Propostas',icon='nav-icon fas fa-file')  %} 
        {{ menu_item_simple(url=url_for('core.propostas'),title='Propostas')}}
    {% endcall %}

            {% call menu_item_with_sub(url='#',title='Conf. do sistema',icon='nav-icon fas fa-cogs')  %} 
            {% endcall %}
            
            
          {% endif %}
        
        </ul>
      </nav>
    </div>
  </aside>