{% extends "layouts/dashboard.html" %}
{% from "macros/_forms.html" import form_card %}
{% from "macros/_header_dashboard.html" import header_dashboard %}
{% from "macros/_fields.html" import input %}
{% block title %}Clientes {% endblock %}
{% block dash %}
  {{header_dashboard(link=url_for('core.novo_cliente'),title='Clientes'  )}}
    <table id="listas" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>ATIVO</th>
        <th>Data Cadastro</th>
        <th>Nome Completo </th>
        <th>Celular</th>
        <th>Cidade</th>
        <th>UF</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        {% for item in lista %}
        <tr>
          <td>{{item.id}}</td>
          <td>{% if item.ativo %}SIM {% else %} NÂO {% endif %}</td>
          <td>{{item.data_criacao.strftime('%d-%m-%Y %H:%M')}}</td>
          <td>{{item.nome_completo}}</td>
          <td>{{item.telefone}}</td>
          <td>{{item.cidade}}</td>
          <td>{{item.estado}}</td>
          <td><a href="{{url_for('core.cliente_edicao',id=item.id)}}" class="btn btn-block btn-outline-info btn-sm"><i class="nav-icon fas fa-edit"></i> EDITAR </a> </td>
        </tr>
      {% endfor %}
      </tfoot>
    </table>
{% endblock %}
{% block js_dash %}
<script>
    $(function () {
      $('#listas').DataTable(global_datatable);
    });
  </script>
  {% endblock %}
