{% extends "layouts/dashboard.html" %}
{% from "macros/_forms.html" import form_card %}
{% from "macros/_fields.html" import input %}
{% block title %}Status{% endblock %}
{% block dash %}
{% call form_card(form=form,action=request.url,title='Status',url_cancelamento=url_for('core.produtos'),upload=False)  %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-2 col-xl-1 text-center">
          {{input(form.id)}}
        </div>
        <div class="col-md-12 col-lg-4 col-xl-5 text-center">
          {{input(form.nome)}}
        </div>
        <div class="col-md-12 col-lg-4 col-xl-5 text-center">
          {{input(form.segmento)}}
        </div>
        <div class="col-md-12 col-lg-4 col-xl-5 text-center">
          {{input(form.setor)}}
        </div>
        
     
</div>
{% endcall %}
{% endblock %}
{% block js_dash %}
<script>
  var tmp =  
    `{% for item in form.observacoes_ %}
        <tr>
          <td>{{loop.index -1}}</td>
          <td>{{item[0](class="form-control form-control-sm",**{'type':'date'})}}</td>
          <td>{{item[1](class="form-control form-control-sm")}}</td>
          <td></td>
        </tr>
    {% endfor %}
  `
  $(function () {
      var dt = $('#listas').DataTable(global_datatable);
      $("#cep").blur(function () {
        var id_rua="#endereco";
        var id_bairro="#bairro";
        var id_cidade=" #cidade";
        var id_uf="#uf";
        busca_endereco("#cep", id_rua,id_bairro, id_cidade ,id_uf)
    });
    $(document).on("click",".btn_opcao_add",function() {
          var rd = _.random(100, 40000);
          var rd_name  =`observacoes-${rd}`;
          var tmp_novo = _.replace(tmp, new RegExp("observacoes_","g"), rd_name);
          dt.rows.add($(tmp_novo)).draw(true);
      });
      
  });
</script>
{% endblock %}