{% extends "layouts/dashboard.html" %}
{% from "macros/_forms.html" import form_card %}
{% from "macros/_header_dashboard.html" import header_dashboard %}
{% from "macros/_fields.html" import input %}
{% block title %}Pordutos {% endblock %}
{% block dash %}
{{header_dashboard(link=url_for('core.novo_produto'),title='Produtos'  )}}
<div class="container-fluid">
    <table id="listas" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>#</th> 
          <th>ID</th>
          <th>Produto</th>
  
          <th>Ações</th>
          
        </tr>
        </thead>
        <tbody>
          {% for item in lista %}
          <tr>
              <th>#</th>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
  
         
       
          
            <td><a href="{{url_for('core.produto_edicao',id=item.id)}}" class="btn btn-block btn-outline-info btn-sm"><i class="nav-icon fas fa-edit"></i> EDITAR </a> </td>
          </tr>
        {% endfor %}
        </tfoot>
      </table>
</div>
{% endblock %}