{% extends "layouts/dashboard.html" %}
{% from "macros/_forms.html" import form_card %}
{% from "macros/_fields.html" import input %}
{% block title %}Status{% endblock %}
{% block dash %}
<div class="container-fluid">
      <table id="listas" class="table table-bordered table-hover" style="width: 100%;">
        <thead>
          <tr>
            <th>#</th>
            <th width="10%">DATA</th>
            <th>OBS</th>
            <th>
              <button type="button" class="btn btn-success btn-sm btn_opcao_add" > 
                <i class="fas fa-plus mr-3"></i> ADICIONAR
             </button>
            </th>
          </tr>
          </thead>
      </table>
</div>
{% endblock %}